*{
    font-family: 'Spectral SC', serif;
}
.main-content{
    padding-top: 100px;
}

th.table table-bordered {
	width: 40px;
	height: 40px;
}
#spielfeldEigen{
    background-color: aliceblue;
}
#spielfeldGegner{
   background-color: aliceblue; 
}