*{
    font-family: 'Spectral SC', serif;
}
.main-content{
    padding-top: 100px;
}

.table-bordered thead tr th {
	width: calc(100%/12);
	height: 40px;
	min-width: 40px;
}
.table-bordered * {
	text-align: center;
}
#spielfeldEigen{
    background-color: aliceblue;
}
#spielfeldGegner{
   background-color: #F5EDA6; 
}